*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --Grey: #D4D4D4;
    --Dark-Grey: #939393;
    --White: #FFF;
    --Green: #008535;
    --gradient-start: #484848;
    --gradient-end: #262626;
    --Orange: #D45F1C

}

.body {
    font-family: "Noto Sans", sans-serif;
    background-repeat: no-repeat;
    background-color: #16171D;
    margin: 0;
    padding: 0;
    position: relative;
}



::selection {
    /*background-color: var(--beige-dark);*/
    /*color: var(--brown-dark);*/
}


img {
    display: block;
    height: auto;
}

html {
    scroll-behavior: smooth;
}

svg {
    display: block;
}

.list {
    list-style: none;
    margin: 0;
}

.link {
    text-decoration: none;
    margin: 0;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}


button {
    cursor: pointer;
    border: none;
    display: block;
}


.container {
    width: 100%;
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}


.body-popup::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}


.body-popup {
    overflow: hidden;
}

.disable-scroll{
    overflow: hidden;
}



input:focus {
    outline: none;
}


.base-input-label{
    color:  #939393;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media (min-width: 375px) {
    .container {
        max-width: 375px;
        padding: 0 16px;
        margin: 0 auto;
    }

}


@media (min-width: 568px) {
    .container{
        max-width: 568px;
    }

    .body {
        background-image: unset;
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;
        position: relative;
        background-color: #16171D;
    }
}



@media (min-width: 768px) {
    .container{
        padding: 0 24px;
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
     .container{
         max-width: 100%;
         padding: 0 32px;
     }

    .main{
        height: 100vh;
        width: 100%;
        overflow: scroll;
    }

    .container-vertical-menu{
        padding: 0;
    }

    .body{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        width: 100%;
        overflow: hidden;
    }

    .disable-scroll{
        overflow: hidden;
    }
}

@media (min-width: 1680px) {
    .container{
        max-width: 100%;
        padding: 0 124px;
    }

    .container-vertical-menu{
        padding: 0;
    }

    .disable-scroll{
        overflow: hidden;
    }

}








