.about-the-project{
    margin-top: 25px;

}

.about-the-project-title{
    color:  #939393;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.about-the-project-text{
    margin-top: 9px;
    color:  #D4D4D4;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.about-the-project-text p + p{
    margin-top: 8px;
}
