.buy-tickets{
    margin-top: 24px;
}

.buy-tickets-inner-link{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--White, #FFF);
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 10px 32px;
    border-radius: 100px;
    background: #008535;
}

.buy-tickets-stop{
    display: flex;
    justify-content: center;

    padding: 16px;
    color:  #939393;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.buy-tickets-inner-descr{
    margin-top: 24px;
    padding: 16px;
    border-radius: 20px;
    background:  #262626;
    color:  #939393;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}


