.current-lottery-progress-bar{
    margin-top: 24px;
}

.current-lottery-progress-bar-inner-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.current-lottery-progress-bar-inner-info-numbers{
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.current-lottery-progress-bar-inner-info-numbers-tickets-purchased{
    color: rgba(255, 255, 255, 0.60);
    text-align: right;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.current-lottery-progress-bar-inner-info-text{
    color:  #D4D4D4;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.current-lottery-progress-bar-inner-content {
    border: 2px solid #4D4D4D;
    width: 100%;
    background-color: transparent;
    border-radius: 20px;
    margin-top: 10px;
    padding: 3px;
}

.progress-bar {
    width: 20%;
    height: 32px;
    background-color:  #005B25;
    border-radius: 20px;
    transition: width 0.3s ease;
}


