.footer{
    margin-top: 24px;
    background-color: #16171D;
    background-image: unset;
    box-shadow: 0 0 12px 6px rgba(0, 0, 0, 0.15), 0 0 4px 0 rgba(0, 0, 0, 0.30);
}

.footer-reset-margin{
    margin-top: 0;
}

.footer-inner{
    padding: 16px 8px;
}

.footer-inner-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.footer-inner-menu-1{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.footer-inner-menu-link-message-1{
    position: absolute;
    top: -7px;
    right: 0px;
    color: #E2E3E9;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    display: flex;
    width: 20px;
    height: 20px;
    padding: 1px 2px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #F23558;

}




.footer-inner-menu-link-1{
    padding: 8px 2px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #A7AEBE;
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    position: relative;
}


.footer-inner-menu-link-1-lang{
    display: none;
}

@media (min-width: 568px) {


    .footer-inner-menu{
        display: none;
    }

    .footer-inner-menu-1{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer-inner-menu-link-1{
        padding: 7px 4px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        gap: 4px;
        color: #A7AEBE;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        position: relative;
    }

    .footer-inner-menu-link-message-1 {
        position: absolute;
        right: -8px;
        top: -2px;
    }

    .footer-inner-menu-link-1-lang{
        display: none;
    }
}


@media (min-width: 768px) {
    .footer-inner-menu-link-message-1 {
        position: absolute;
        right: 5px;
        top: -2px;
    }

    .footer-inner-menu-link-1-lang{
        display: none;
    }
}

@media (min-width: 1024px) {
    .footer{
        margin-top: 0;
        background: #16171D;
        box-shadow: 0 0 12px 6px rgba(0, 0, 0, 0.15), 0 0 4px 0 rgba(0, 0, 0, 0.30);
    }


    .footer-inner{
        padding: 0;
    }

    .footer-inner-menu-link-content-svg-1{
        width: 24px;
    }
    .footer-inner-menu-1{
        flex-direction: column-reverse;
        width: 72px;
    }

    .footer-inner-menu-link-1{
        display: flex;
        flex-direction: column;
        padding: 16px 2px;
        gap: 2px;
        width: 100%;
    }

    .footer-inner-menu-link-message-1{
        position: absolute;
        top: 0;
        right: 0;

    }


}

