.header{
    background-color: #202020 ;
}

.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}


.header-content-unauthenticated-user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}


.header-content-unauthenticated-user-register-link{
    color: var(--White);
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 10px 32px;
    border-radius: 100px;
    background: var(--Green, #008535);
}

.header-content-unauthenticated-user-login-link-container{
     padding: 8px;
    background-color: var(--Green);
    border-radius: 100px;
    display: block;
}

.header-content-authenticated-user{
    display: flex;
    align-items: center;
    border: 1px solid var(--Green);
    border-radius: 20px;
    gap: 8px;
}

.header-content-authenticated-user-crypto-icon{
    padding-left: 8px;
}

.header-content-authenticated-user-balance{
    display: flex;
    align-items: center;
    gap: 3px;
    color: var(--White, #FFF);
    font-size: 15px;
    font-weight: 700;
    line-height: normal;
}

.header-content-authenticated-user-wallet-container{
    display: block;
    padding: 8px;
    background-color: var(--Green);
    border-radius: 100px 94px 94px 100px;
    box-sizing: content-box;
}






