.verification-user{
    margin-top: 24px;
}

.verification-user-text{
    border-radius: 20px;
    background:  #262626;
    padding: 16px;
    color:  #939393;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.verification-user-resend-notification span{
    color: #D4D4D4;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.verification-user-resend-notification-2{
    margin-top: 16px;
}

.verification-user-resend-notification-2-link{
    color: var(--Green, #00B448);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.verification-user-email{
    margin-top: 24px;
}

.verification-form{
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    gap: 16px;

}

.verification-user-label{
    color:  #939393;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.verification-form-input{
    padding: 10px 12px;
    color:  #939393;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 100px;
    background: var(--White, #FFF);
    border: none;
}
.verification-user-submit{
    padding: 10px 76px;
    border-radius: 100px;
    background: var(--Orange, #D45F1C);
    border: none;
    color: var(--White, #FFF);
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.verification-user-save{
    margin-top: 24px;
    padding: 10px 76px;
    width: 100%;
    border: none;
    color: var(--Grey, #939393);
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 100px;
    background:  #262626;
}


.verification-user-error{
    color:  #F33;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.verification-user-successful{
    color: var(--Green, #00B448);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.verification-user-successful-img{
}
.verification-user-successful{

    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    max-width: 100%;
}

.verification-user-complete{
    border-radius: 100px;
    width: 100%;
    margin-top: 24px;
    background: var(--Green, #008535);
    padding: 10px 76px;
    color: var(--White, #FFF);
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
}


